body{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}   


.container{
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.primary-background{
	background: #2196f3!important;
}

form{
	background: #2196f3!important;
    width:500px;
    padding:25px;
    margin-bottom:50px;
    /*width: 50%;*/
}
 .red-text{
	color:red;	
}

